#.gitignore is the place to list files which should not be pushed to the git repo

#Extra Files for the Control Panel Application
/Control Panel/CODE/build
/Control Panel/CODE/dist
/Control Panel/CODE/Main.spec
/Control Panel/CODE/faculty.db
/Control Panel/CODE/__pycache__
/Stand Alone Author Split/CODE/build
/Stand Alone Author Split/CODE/dist
/Stand Alone Author Split/CODE/Main.spec
/Stand Alone Author Split/CODE/faculty.db
/Stand Alone Author Split/CODE/__pycache__
